DeltaRank.png
DeltaRichness.png
IUCNandpredictedNoStatus.png
IUCNandpredictedNonThreatened.png
IUCNandpredictedThreatened.png
IUCN_NoStatus.png
IUCN_NonThreatened.png
IUCN_Threatened.png
RankAfter.png
RankBefore.png
all_map.RData
fig_7_supplementary.png
